#container {
    float: right;
    display: inline;
}

#text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: inline;
    float: left;
    max-width: 50%;
    position: absolute;
    top: 300px;
}

p {
    display: none;
}
