:root {
    --prim: #3399ff;
    --prim-dark: #0073e6;
    --prim-light: #99ccff;
    --prim-lighter: #cce6ff;
    --prim-lightest: #e6f2ff;
    --text: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--prim-lighter);
}

/* h1 {
    text-align: center;
} */

#div-signin {
    text-align: center;
}

* {
  outline: none;
  text-align: center;
}

#div-chat {
    text-align: -webkit-center;
    display: none;
}

#header {
    margin: 0px;
    padding: 2px;
    max-width: 750px;
    background-color: var(--prim-dark);
    color: var(--text);
    border-radius: 10px 10px 0px 0px;
}

#header-username {
    margin: 0px;
    padding: 10px;

}

#board {
    height: 70vh;
    max-width: 730px;
    overflow: auto;
    border-style: solid;
    border-width: 0px 2px;
    border-color: var(--prim-light);
    padding: 10px;
    /* background-color: var(--prim-lightest); */
    /* border-radius: 0px 0px 10px 10px; */
    /* border-radius: 5px; */
}

#controls {
    padding: 2px;
    margin-top: 0px;
    max-width: 750px;
    background-color: var(--prim-light);
    text-align: -webkit-center;
    border-radius: 0px 0px 10px 10px;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--prim-lighter);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--prim-lightest);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: var(--prim-light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--prim-light);
}

.message {
    height: auto;
    max-width: 50%;
    color: var(--text);
    padding: 0px 0px;
    margin: 1px 10px;
    display: inline-block;
    border-radius: 20px;
    clear: both;
    z-index: -1;

}

.text {
    background-color: var(--prim);
    color: var(--text);
    max-width: 100%;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 0px;
    word-wrap: break-word;
    overflow: auto;
    float: right;
}

.time {
    clear: both;
    color: black;
    margin: 0px;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    display: none;
}

.left {
    float: left;
}

.left > .text {
    float: left;
}

.right {
    float: right;
}

.right > .text {
    float: right;
}

input[type=text] {
    height: 40px;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--prim);
    background-color: var(--prim-lightest);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: box-shadow 0.3s, border-width 0.3s;
}

input[type=text]:focus {
    border-width: 2px;
    border-color: var(--prim-dark);
}

#input-message {
    width: 60%;
    /*position: absolute;
    left: 10%; */
    /* float: left; */

    /*##transform: translate(-50%, -50%);*/
}

#btn-send {
    /* position: absolute;
    left: 75%; */
    float: right;
}
/*
blue:  #3399ff
darkblue: #0073e6
*/

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px;
    width: 150px;
    height: 50px;
    background-color: var(--prim);
    font-size: 15px;
    color: var(--text);
    border-width: 0px;
    /* border-color: var(--prim); */
    /* border-style: solid; */
    border-radius: 10px;
    /* box-shadow: 2px 2px 10px grey; */
    transition: background-color 0.3s;

}

button:hover {
    /* border-width: 3px; */
    background-color: var(--prim-dark);
    /* box-shadow: 5px 5px 20px grey; */
}

button:focus {
    background-color: var(--prim-dark);
}

.username-display {
    margin: 20px 15px 0px 15px;
    display: block;
    font-style: normal;
    font-weight: 300;
    clear: both;
}

#div-typing {
    width: 300px;
    margin-top: -51px;
    display: none;
    z-index: 1;
}
