body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: white;
}

/* h1 {
    text-align: center;
} */

#div-signin {
    text-align: center;
}

* {
  outline: none;
  text-align: center;
}

#board {
    height: 70vh;
    width: 100%;
    overflow: auto;
}

#controls {
    margin-top: 50px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cce6ff;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #99ccff;
}

.message {
    height: auto;
    max-width: 50%;
    color: white;
    padding: 0px 0px;
    margin: 1px 10px;
    display: inline-block;
    border-radius: 20px;
    clear: both;


}

.text {
    background-color: #3399ff;
    color: white;
    max-width: 100%;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 0px;
    word-wrap: break-word;
    overflow: auto;
    float: right;
}

.time {
    clear: both;
    color: black;
    margin: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    display: none;
}

.left {
    float: left;
}

.left > .text {
    float: left;
}

.right {
    float: right;
}

.right > .text {
    float: right;
}

input[type=text] {
    height: 40px;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: box-shadow 0.3s, border-width 0.3s;
}

input[type=text]:focus {
    border-width: 2px;
}

#input-message {
    width: 50%;
    position: absolute;
    left: 10%;

    /*##transform: translate(-50%, -50%);*/
}

#btn-send {
    position: absolute;
    left: 75%;
}
/*
blue:  #3399ff
darkblue: #0073e6
*/

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px;
    width: 150px;
    height: 50px;
    background-color: white;
    font-size: 15px;
    color: #3399ff;
    border-width: 1px;
    border-color: #3399ff;
    border-style: solid;
    border-radius: 10px;
    /*box-shadow: 2px 2px 10px grey;*/
    transition: box-shadow 0.3s, border-width 0.3s;

}

button:hover {
    border-width: 3px;
    /*box-shadow: 5px 5px 20px grey;*/
}

button:focus {
    border-width: 3px;
}
